* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
    font-family: "Raleway";
}

a {
    color: #DCDCDC;
}

.navbar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: rgba(82, 199, 199, 0.9);
    z-index: 200;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .3s ease;
}

.navbar:hover {
    background-color: #52C7C7;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    margin-left: 90px;
    padding: 0;
    white-space: nowrap;
    width: 65%;
}

.navbar ul li a {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    transition: all .2s ease;
    padding-bottom: 3px;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: black;

}

.navbar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}


.navbar:hover:before {
    visibility: visible;
    transform: scale(1);
}

.icons-container{
    position: relative;
    right: 80px;
}

.icons-container img {
    height: 45px;
    width: 45px;
    padding: 10px;
}

/* BURGER MENU */
/*-----------------------*/

.burger-menu {
    position: fixed;
    left: 20px;
    width: 41px;
    height: 45px;
    top: 12px;
    cursor: pointer;
    display: none;
    z-index: 300;
    border-radius: 9px;
    padding: 0 10px;
    transition: background .5s ease;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.burger-menu div {
    position: relative;
    height: 6px;
    width: 100%;
    background-color: #8BDADA;
    margin-top: 7px;
    border-radius: 5px;
    z-index: 300;
    transition: all .3s ease;
}

.slide-menu {
    position: relative;
    top: 4px;
    left: -100px;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-right: 2px solid #4B4B4B;
    font-weight: normal;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 200;
}

.slide-menu-right {
    left: -30px;
}

.dark {
    opacity: .5;
    transition: all .2s ease;
}

.slide-menu ul  {
    position: relative;
    padding-left: 30px;
    top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slide-menu ul li a:hover  {
    border-bottom: 2px solid #4B4B4B;
}

.slide-links li {
    padding: 20px 0;
    width: 100%;
}

.slide-menu ul li a {
    color: black;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.slide-menu-social h3{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #52C7C7;
    padding-bottom: 0;
    margin-top: 40px;
    
}

.slide-menu-social li {
    padding: 5px 0;
    width: 100%;
}

.slide-menu-social-icon {
    display: flex;
    align-items: center;
    padding: 0;
}

.slide-menu-social-icon img {
    width: 30px;
    height: 30px;
}

.slide-menu-social-icon p  {
   padding: 5px 0 0 10px;
   font-size: 12px;
}

.burger-logo {
    position: relative;
    width: 79px;
    height: 77px;
    left: 50%;
    margin-left: -40px;
}

#landing {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: url("imgs/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 60px;
    left: 130px;
    top: 570px;
    background: rgba(82, 199, 199, 0.61);
    color: white;
    border: 2px solid rgb(145, 145, 145);
    letter-spacing: 3px;
    font-family: "Raleway";
    font-size: 1.1em;
    cursor: pointer;
    z-index: 100;
}

.button2 {
    display: none;
}

.button p {
    margin: 0 0 0 20px;
    white-space: nowrap;
    font-size: 14px;
    color: white;
}

.button img {
    width: 16px;
    height: 27px;
    margin-left: 10px;
}

#home-arrow-desktop {
    position: absolute;
    left: 50%;
    top: 91vh;
    margin-left: -26px;
    width: 52px;
    height: 33px;
    z-index: 200;
}

#home-arrow-mobile {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 36px;
    z-index: 200;
    display: none;
}

.mobile-scroll-for-more {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    display: none;
}

.main {
    position: relative;
    width: 100%;
    margin-top: 100vh;
    background-color: rgb(254, 254, 254);
    z-index: 190;
    border-top: 2px solid rgb(112, 112, 112);
    border-bottom: 2px solid rgb(112, 112, 112);
}

#welcome {
    height: 700px;
    width: 100%;    
}

#welcome-butterfly {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 40px;
    height: 40px;
}

#welcome-lips{
    position: absolute;
    right: 0;
    width: 900px;
    height: 700px;
}

.main h3 {
    position: absolute;
    top: -10px;
    left: 70px;
    font-family: "Dancing Script";
    font-weight: lighter;
    font-size: 50px;
    color: #979797;
    transform: rotate(-5deg);
}

#welcome-title {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 120px;
    top: 70px;
}

#DW {
    position: relative;
    top: -15px;
    font-family: "Yeseva One";
    font-size: 72px;
    color: #52C7C7;
}

#aesthetics {
    font-family: "Forum";
    font-size: 72px;
    color: #979797;
    margin-left: 20px;
    font-weight: lighter;
}

#welcome-underline {
    position: absolute;
    left: 120px;
    top: 210px;
}

#welcome-text {
    position: absolute;
    top: 250px;
    left: 120px;
    font-family: "Raleway";
    font-weight: 500;
    width: 55%;
    letter-spacing: .5px;
}

#welcome-text p {
    margin-bottom: 30px;
}

#welcome-text-md {
    width: 90%;
}

#welcome-text-sm {
    width: 80%;
}

#view-treatments-container{
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#view-treatments {
    font-family: "Raleway";
    font-size: 3vw;
    color: #52C7C7;
    letter-spacing: 5px;
    font-weight: lighter;
    white-space: nowrap;
}

#view-treatments-container button {
    width: 250px;
    height: 70px;
    background: rgba(82, 199, 199, 0.61);
    color: white;
    border: 2px solid rgb(145, 145, 145);
    letter-spacing: 3px;
    font-family: "Raleway";
    font-size: 1em;
    cursor: pointer;
}

#promotion {
    position: absolute;
    background-image: url("imgs/promotion-grey.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 125;
}

#promotion h1 {
    position: fixed;
    text-transform: uppercase;
    color: white;
}

#reviews {
    position: absolute;
    margin-top: 97vh;
    width: 100%;
    z-index: 130;
    border-top: 2px solid rgb(112, 112, 112);
}

.reviews-cover {
    background-image: url("imgs/reviews.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: auto;
}

#reviews-container {
    position: relative;
    top: 30px;
}

#reviews h3 {
    font-family: "Dancing Script";
    font-weight: lighter;
    font-size: 3vw;
    color: #979797;
    margin: 0 0 0 40px;
}

#customer-reviews {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 90px;
    font-family: "Yeseva One";
    font-size: 3.5em;
    color: #52C7C7;
    text-decoration: underline;
}

.review-slide1 {
    position: relative;
    height: 300px;
    width: 55%;
    z-index: 130;
    top: 0;
    left: 100px;
    transition: all 1s ease;
}

.review-slide1 p {
    font-family: "Raleway";
    font-size: 1.3vw;
    font-style: italic;
    letter-spacing: .5px;
}

.start-quote {
    position: absolute;
    top: -30px;
    left: -40px;
    font-size: 90px;
    line-height: 1;
    content: "\201C";
    color: #52C7C7;
}

.end-quote {
    position: relative;
    left: -10px;
    top: 40px;
    font-family: "Raleway";
    font-size: 90px;
    line-height: 1;
    content: "\201D";
    color: #52C7C7;
}
.end-quote2 {
    position: relative;
    left: -10px;
    top: -30px;
    font-family: "Raleway";
    font-size: 90px;
    line-height: 1;
    content: "\201D";
    color: #52C7C7;
}

.review-slide1 h4 {
    position: absolute;
    color: #52C7C7;
    font-family: "Raleway";
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 2.5vw;
}

.review-slide2 {
    position: absolute;
    height: 300px;
    width: 55%;
    z-index: 130;
    top: 197px;
    left: 100px;
    transition: all 1s ease;
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
}

.review-slide2 p {
    display: flex;
    font-family: "Raleway";
    font-size: 1.3vw;
    font-style: italic;
    letter-spacing: .5px;
}

.review-slide2 h4 {
    position: absolute;
    color: #52C7C7;
    font-family: "Raleway";
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 2.5vw;
}

.review-slide3 {
    position: absolute;
    height: 300px;
    width: 55%;
    z-index: 130;
    top: 197px;
    left: 100px;
    transition: all 1s ease;
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
}

.review-slide3 p {
    font-family: "Raleway";
    font-size: 1.3vw;
    font-style: italic;
    letter-spacing: .5px;
}

.review-slide3 h4 {
    position: absolute;
    color: #52C7C7;
    font-family: "Raleway";
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 2.5vw;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
    
}

.slide-left {
    transform: translateX(-100px);
}

.slide-back {
    transform: translateX(0);
}

.slide-right {
    transform: translateX(100px);
}

#review-toggle {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 80px;
    left: 300px;
    width: 30%;
    height: auto;
    z-index: 140;
}

#review-toggle img {
    width: 51px;
    height: 82px;
    cursor: pointer;
}

.ball1 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #52C7C7;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
    border: solid 2px #979797;

}

.ball2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid 2px #979797;
    background-color: #979797;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;

}
.ball3 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #979797;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
    border: solid 2px #979797;
}

.book-banner {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: rgb(101, 204, 204);
    flex-wrap: wrap;
}

.book-title {
    font-family: "Raleway";
    font-size: 2em;
    letter-spacing: 6px;
    color: white;
    font-weight: lighter;
}

.book-button {
    right: 250px;
    width: 220px;
    left: 50%;
    height: 70px;
    color: rgba(255, 255, 255, 0.726);
    border: none;
    font-family: "Raleway";
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.hand {
    position: relative;
    width: 50px;
    height: 50px;
    left: 50px;
    top: -15px;
}

.footer-container {
    position: relative;
    width: 100%;
    z-index: 200;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #272727;
    color: #DCDCDC;
    font-family: "Raleway";
    padding-bottom: 40px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
}

#opening-times {
    display: flex;
    flex-direction: column;
}

#hours-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-title {
    color: #52C7C7;
    letter-spacing: 6px;
    font-size: 30px;
}

.connectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.connectors div {
    height: 1px;
    width: 70px;
    background-color: #DCDCDC;
    margin-bottom: 53px;
}

.container div {
    margin-bottom: 35px;
}

#footer-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 30px auto 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(247, 247, 247);
}

#footer-links  {
    color: #DCDCDC;
    letter-spacing: 1px;
}

#footer-book-link {
    color: #52C7C7;
    font-weight: 600;
}

#footer-logo {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

#footer-logo img {
    width: 199px;
    height: 187px;
}

#footer-note {
    display: flex;
    justify-content: center;
}

.instagram-media {
    max-height: 350px;
}

/* TREATMENTS PAGE */
/*----------------------------------------------------*/

.treatments-main {
    position: relative;
    width: 100%;
    height: 950px;
    margin-top: 100vh;
    background-color: rgb(254, 254, 254);
    z-index: 190;
    border-top: 2px solid rgb(112, 112, 112);
}

#treatments-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-image: url("imgs/treatments-banner.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#treatments-h1 {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    letter-spacing: 6px;
    font-weight: lighter;
    color: #52C7C7;
    font-size: 3em;
}

#treatments-text-container {
    text-align: center;
}

#treatments-text-container p {
    margin-bottom: 30px;
}

#treatments-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-bottom: 85px;
}

#treatments-container h3 {
    letter-spacing: 6px;
    font-size: 2em;
    font-weight: lighter;
}

#treatments-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;

}
.image {
    position: relative;
    width: 386.4px;
    cursor: pointer;
}

.overlay {
    background-color: black;
    height: 255.2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .2s ease;
}

.image:hover > div{
    opacity: .8;
}

.image:hover > img{
    zoom: 5%;
}

.overlay p {
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
    font-size: 1.1em;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
    position: relative;
    left: 50%;
    margin-left: -27px;
    opacity: .9;
}

.circle div:nth-child(1){
    height: 2px;
    width: 22px;
    background-color: white;
    transform: rotate(30deg);
    position: absolute;
    top: 18px;
    left: 16px;
    border-radius: 20px;
}

.circle div:nth-child(2){
    height: 2px;
    width: 22px;
    background-color: white;
    transform: rotate(-30deg);
    position: absolute;
    top: 29px;
    left: 16px;
    border-radius: 20px;

}


/*ANTI WRIKNLE PAGE */
/*------------------------------*/

.anti-wrinkle-container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anti-wrinkle-banner {
    width: 40%;
    height: auto;
    right: 0;
}

.anti-wrinkle-header {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 70px;
}

.anti-wrinkle-text-container p {
    font-size: 1.1vw;
    font-weight: 500;
    letter-spacing: .4px;
}

.anti-wrinkle-text-container {
    margin-left: 80px;
    width: 53%;
    position: relative;
    z-index: 160;
}
.anti-wrinkle-banner-tablet {
    width: 100%;
    height: auto;
    display: none;
}

.treatment-areas-header {
    width: 27%;
    margin-left: 75px;
    margin-top: 100px;
}

.treatment-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-top: 45px;
}
.treatment-areas-sub {
    margin-left: 80px;
    width: 75%;
    font-size: 1.1vw;
    font-weight: 500;
    letter-spacing: .4px;
}

.treatment-box {
    width: 250px;
    height: 60px;
    background-color: rgba(82, 199, 199, 0.308);
    margin: 10px 20px;
    border: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.225em;
    color: #4B4B4B;
}

.treatment-overview {
    width: 30%;
    margin-left: 80px;
    margin-top: 100px;
}

.see-prices-button {
    display: flex;
    width: 250px;
    justify-content: center;
    height: 60px;
    background-color: rgb(82, 199, 199);
    margin: 60px auto;
    border: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 6px;
    color: #4B4B4B;
    cursor: pointer;
}

/*DERMAL PAGE */

.dermal-header {
    width: 60%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 70px;
}

/* LIP PAGE */

.lip-banner {
    position: absolute;
    width: 55%;
    height: auto;
    right: 0;
    z-index: 140;
}

.lip-header {
    width: 70%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 70px;
}

.before-after-header {
    width:50%;
    margin-left: 75px;
    margin-top: 170px;
}

.before-after-img {
    margin-left: 65px;
    margin-top: 50px;
    width: 70%;
    height: auto;
}

/* BOOK PAGE */
/*----------------------*/

.book-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("imgs/book-banner.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container {
    position: absolute;
    left:2%;
    top: 1vh;
}

.book-background {
    width: 100%;
    height: auto;
}

.book-background-tablet {
    width: 100%;
    height: auto;
    display: none;
}

.form-container h3 {
    position: relative;
    top: 60px;
    left: 70px;
    font-family: "Dancing Script";
    font-weight: lighter;
    font-size: 30px;
    color: #979797;
    transform: rotate(-5deg);
}

.form-container h1 {
    position: relative;
    top: 50px;
    left: 150px;
    font-family: "Yeseva One";
    font-size: 50px;
    color: #52C7C7;
    font-weight: 500;
}

.book-form {
    position: absolute;
    top: 220px;
    left: 150px;
    width: 550px;
    height: 380px;
}

.book-form p {
    font-family: "Raleway";
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 6px;
}

.book-form input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgba(104, 199, 199, 0.856);
    font-weight: 600;
    font-family: "Raleway";
    letter-spacing: .5px;
    font-size: 16px;
    
}

.form-half-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
}

.form-half-box input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
    padding-left: 10px;
    font-weight: 600;
}

#message-input {
    height: 150px;
    width: 550px;
    resize: none;
    border: none;
    background-color: rgba(104, 199, 199, 0.856);
    font-family: "Raleway";
    letter-spacing: .5px;
    font-weight: 600;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

#message-input::placeholder {
    color: rgb(32, 32, 32);
    text-align: center;
    font-weight: 600;
}

.form-button {
    border: none;
    height: 40px;
    width: 180px;
    display: flex;
    background-color: rgba(104, 199, 199, 0.856);
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: 6px;
    justify-content: center;
    cursor: pointer;
}


.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fb-ig-container {
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
    flex-wrap: wrap;
}

.fb-ig-container h1 {
    font-family: "Raleway";
    font-size: 2.2em;
    letter-spacing: 7px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.booking-other-section {
    margin: 70px 0;
}
.booking-other-section p {
    text-align: center;
    width: 90%;
    margin: 50px auto 0;
}

.booking-other-title{
    display: flex;
    justify-content: center;
    font-family: "Raleway";
    font-size: 2.4vw;
    letter-spacing: 7px;
    font-weight: lighter;
    margin-bottom: 30px;
    color: #52C7C7;
}

.booking-button {
    height: 55px;
    width: 250px;
    background-color: rgba(104, 199, 199, 0.856);
    border: none;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: lighter;
}

/*CONTACT PAGE */
/*--------------------------------*/

.contact-banner {
    background-image: url("imgs/contact-banner.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
    margin-top: 70px
}

.contact-main {
    display: flex;
    margin-left: 100px;
    height: 400px;
    margin-bottom: 200px;
}

.contact-content {
    width: 55%;
    height: 500px;
}

.contact-content h1 {
    letter-spacing: 5px;
    text-decoration: underline;
    color: black;
}

#map {
    height: 500px;
    width: 45%;
}

.address-box {
    margin: 60px 0;
}

.contact-content p {
    margin: 5px 0;
    font-size: 1.3em;
}

.contact-content h2 {
    margin-top: 60px;
    font-size: 1.4em;
    color: #52C7C7;
    letter-spacing: 3px;
    font-weight: 500;
}

.contact-content b {
    text-decoration: underline;
    color: black;
}


/* RESPONSIVE PAGES/ MEDIA QUERIES */

.tablet-logo {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    left: 50%;
    margin-left: -131px;
    white-space: nowrap;
    visibility: hidden;
}

.tablet-logo h1 {
    font-family: "Yeseva One";
    font-size: 43px;
}

.tablet-logo h2 {
    font-family: "Forum";
    font-size: 40px;
    font-weight: 500;
    margin-left: 10px;
}

.sparkle {
    position: relative;
    top: 0px;
    height: 50px;
    width: 20px;
    transform: rotate(-10deg);
}

@media only screen and (max-width: 1366px) {


    .navbar {
        display: none;
    }

    .slide-menu {
        top: -67px;
        width: 250px;
    }

    .slide-links {
        padding-top: 70px;
    }

    .mobile-hide {
        display: none;
    }

    .nav-links {
        visibility: hidden;
    }

    #customer-reviews {
        top: -20px;
    }

    .tablet-logo {
        visibility: visible;
    }

    .icons-container {
        display: flex;
        right: 20px;
    }

    .icons-container img{
        width: 35px;
        height: 35px;
        padding: 5px;
    }

    .burger-menu {
        display: block;
    }

    #view-treatments-container{
        height: 170px;
    }
    
    
    #view-treatments-container button {
        margin-bottom: 40px;
    }

    .button {
        width: 25%;
        left: 80px;
        top: 550px;
    }

    .logo {
        position: fixed;
        top: 90px;
        left: 80px;
        width: 139px;
        height: 127px;
        z-index: 100;
    }

    #landing {
        background-image: url("imgs/landing-tablet.png");
        background-size: contain;
    }

    #welcome {
        height: 400px;
    }

    .main {
        margin-top: 60vh;
    }

    #home-arrow-mobile {
        display: none;
    }

    #welcome-lips{
        position: absolute;
        right: 0;
        width: 500px;
        height: 400px;
        opacity: .2;
    }

    #welcome-title {
        top: 40px;
        left: 80px;
    }

    #welcome-underline {
        left: 80px;
        top: 175px;
    }

    #welcome-text {
        left: 80px;
        top: 190px;
        font-size: .9em;
    }

    .main h3 {
        font-size: 36px;
        top: 10px;
        left: 50px;
    }

    #promotion {
        background-size: cover;
        background-image: url("imgs/promotion-tablet.png");
    }

    .reviews-cover {
        background-image: url("imgs/reviews-tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: auto;
    }

    .book-title {
        font-size: 22px;
    }

    .review-slide1 {
        width: 80%;   
    }

    .review-slide2 {
        width: 80%;   
    }

    .review-slide3 {
        width: 80%;   
    }

    .review-slide1 p {
        font-size: 2vw;
    }

    .review-slide2 p {
        font-size: 2vw;
    }

    .review-slide3 p {
        font-size: 2vw;
    }

    #review-toggle {
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    #home-arrow-desktop {
        top: 55vh;
    }

    .book-banner {
        padding-bottom: 30px;
        height: 150px;
    }

    .book-background-tablet {
        display: block;
    }

    .book-title {
        margin-bottom: 0;
    }

    .anti-wrinkle-banner {
       display: none;
    }

    .anti-wrinkle-banner-tablet {
        display: block;
    }

    .anti-wrinkle-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .anti-wrinkle-text-container {
        margin-top: 50px;
        width: 80%;
        position: relative;
        z-index: 160;
    }

    .anti-wrinkle-text-container p{
        font-size: 16px;
    }

    .treatment-areas-header {
        width: 40%;
    }

    .treatment-areas-sub {
        font-size: 16px;
    }

    .treatment-overview {
        width: 50%;
    }

    .lip-banner {
        display: none;
    }

    .contact-banner {
        display: none;
    }

    .contact-main {
        text-align: center;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 0 auto 100px;
    }

    .contact-content {
        width: 90%;
    }

    #map {
        width: 90%;
    }

    .book-container {
        position: static;
        width: 100%;
        height: 100%;
        background-image: url("imgs/tablet-book.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form-container {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .form-container h1 {
        position: static;
    }

    .form-container h3 {
        left: -200px;
    }
    
    .book-form {
        position: static;
        width: 70%;
        height: 380px;
    }

    .booking-other-section {
        position: static;
        margin: 100px 0;
    }

    .book-background {
        display: none;
    }

    #message-input {
        width: 100%;
    }

    .form-half-box {
        width: 100%;
        flex-wrap: wrap;
        padding-left: 0;
        flex-direction: column;
    }

    .form-half-box input {
        width: 100%;
    }

    .booking-other-section {
        margin-top: 200px;
    }

}

@media only screen and (max-width: 768px) {


    .button {
        top: 430px;
    }

    .review-slide1 p {
        font-size: 2.3vw;
    }
    .review-slide2 p {
        font-size: 2.3vw;
    }
    .review-slide3 p {
        font-size: 2.3vw;
    }

    .icons-container {
        display: none;
    }
    
    #welcome-underline {
        width: 70%;
        top: 160px;
        left: 20px;
    }

    #welcome-text {
        width: 90%;
        top: 170px;
        left: 20px;
    }

    #welcome-title {
        top: 80px;
        left: 20px;
    }

    #view-treatments-container button {
        margin-bottom: 10px;
    }

    #DW {
        font-size: 43px;
    }
    #aesthetics {
        font-size: 40px;
        color: black;
    }

    #treatments-cover {
        background-image: url("imgs/treatments-tablet.png");
        background-size: contain;
    }
}

@media only screen and (max-width: 425px) {

    #home-arrow-mobile {
        display: block;
    }
    
    .navbar {
        display: none;
    }

    .icons-container {
        display: none;
    }

    .burger-menu {
        left: 10px;
    }

    .slide-menu {
        top: -67px;
        width: 250px;
    }

    .slide-links {
        padding-top: 70px;
    }

    #home-arrow-desktop {
        display: none
    }

    #home-arrow-mobile {
        display: block;
        top: 94vh;
    }

    #landing {
        background-image: url("imgs/mobile-banner.png");
        background-size: cover;
        width: 100%;
    }

    .main {
        margin-top: 97vh;
    }

    .button {
        position: relative;
        top: 70vh;
        width: 340px;
        height: 55px;
        left: 50%;
        margin-left: -170px;
        background: #E8E8E8;
        border: 3px solid #434343;
    }

    .button2 {
        margin-top: 15px;
        display: block;
        position: relative;
        top: 70vh;
        width: 340px;
        height: 55px;
        left: 50%;
        margin-left: -170px;
        background: #E8E8E8;
        border: 3px solid #434343;
        letter-spacing: 3px;
    }

    .button p {
        color: black;
        margin: 0;
        font-weight: 600;
    }

    .button2 p {
        font-size: 14px;
        font-family: "Raleway";
        color: black;
        margin: 0;
        font-weight: 600;
    }

    .mobile-scroll-for-more {
        display: block;
        position: absolute;
        bottom:6vh;
        width: 100%;
        text-align: center;
    }

    .button img {
        display: none;
    }

    #welcome-butterfly {
        position: absolute;
        top: 30px;
        left: 110px;
        width: 20px;
        height: 20px;
    }

    #welcome h3 {
        transform: rotate(0);
        font-size: 22px;
        top: 20px;
        left: 10px;
        color: black;
    }

    #welcome-underline {
        width: 70%;
        top: 130px;
        left: 20px;
    }

    #welcome-text {
        width: 90%;
        top: 140px;
        left: 20px;
    }
    #welcome-text p {
        font-size: 16px;
    }

    #welcome-title {
        top: 50px;
        left: 20px;
    }

    #view-treatments-container button {
        margin-bottom: 10px;
    }

    #DW {
        font-size: 43px;
    }
    #aesthetics {
        font-size: 40px;
    }

    #promotion {
        background-image: url("imgs/mobile-promotion.png");
        background-size: cover;
        width: 100%;
        background-position: center;
    }

    #reviews-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    

    #reviews-container h3 {
        font-size: 26px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    #customer-reviews {
        font-size: 8vw;
        margin: 0 auto 90px;
        white-space: nowrap;
    }

    .review-slide1 {
        left: 30px;
        width: 90%;
    }

    .review-slide1 p {
        font-size: 16px;
    }

    .review-slide1 h4 {
        font-size: 22px;
        top: 190px;
    }

    .review-slide2 {
        left: 30px;
        width: 90%;
    }

    .review-slide2 p {
        font-size: 16px;
    }

    .review-slide2 h4 {
        font-size: 22px;
        top: 190px;
    }

    .review-slide3 {
        left: 30px;
        width: 90%;
    }

    .review-slide3 p {
        font-size: 16px;
    }

    .review-slide3 h4 {
        font-size: 22px;
        top: 190px;
    }
    
    #review-toggle {
        bottom: 20px;
        width: 300px;
        margin-left: -150px;
    }

    .book-title {
        margin: auto 0;
        font-size: 12px;
    }

    #footer-links {
        width: 90%;
        font-size: 13px;
        padding-bottom: 0;
    }

    #footer-links a {
        padding-bottom: 15px;
    }

    #footer-note {
        font-size: 13px;
    }

    #treatments-cover {
        background-image: url("imgs/treatments-mobile.png");
        background-size: cover;
    }

    .treatments-main {
        margin-top: 95vh;
    }

    #treatments-h1 {
        text-align: center;
        font-size: 26px;
    }

    #treatments-text-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .overlay {
        display: none;
    }
    
    #treatments-container img {
        width: 90%;
    }

    .image {
        width: 100%;
    }

    .anti-wrinkle-text-container {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .anti-wrinkle-header {
        width: 90%;
        margin-top: 0;
    }

    .anti-wrinkle-text-container p{
        margin: 0 auto;
        width: 90%;   
        font-size: 16px;
        letter-spacing: px;
    }

    .treatment-container {
        display: none;
    }

    .treatment-areas-sub {
        display: none;
    }

    .treatment-areas-header {
        display: none;
    }

    .treatment-overview {
        display: none;
    }

    .before-after-header {
        display: none;
    }
    .before-after-img {
        display: none;
    }

    .lip-header {
        margin-top: 0;
    }

    .dermal-header {
        margin-top: 0;
    }

    #map {
        width: 90%;
        margin-top: 40px;
    }

    .contact-content h2 {
        font-size: 16px;
    }

    .book-form {
        position: static;
        width: 80%;
        height: 380px;
    }

    .form-container {
        top: 0;
        left: 0;
    }

    .form-container h1 {
        font-size: 28px;
    }

    .form-container h3 {
        font-size: 22px;
        left: -100px;
        top: 35px;
    }

    .booking-other-section {
        margin-top: 200px;
        position: static;
    }

    .booking-other-title {
        text-align: center;
        font-size: 22px;
        width: 90%;
        margin: 0 auto;
        letter-spacing: 3px;
    }
}

